@model IEnumerable<GymPFF.Models.Empleado>

@{
    ViewData["Title"] = "Index";
}

<h1>Empleado</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                Primer y Segundo Apellido
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                Fecha de Nacimiento
            </th>
            <th>
               Numero de celular
            </th>
            <th>
                Numero de cedula
            </th>
            <th>
                Puesto
            </th>
            <th>
                Cuota CCSS
            </th>
            <th>
                Cuota Poliza INS
            </th>
            <th>
                Cuenta Bancaria
            </th>
            <th>
                Retención CCSS
            </th>
            <th>
                Salario Neto
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidosCompletos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Celular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PuestoEmpleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeguroCCSS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PolizaINS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CuentaBanco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RetencionCCSS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalarioNeto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmpleadoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EmpleadoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EmpleadoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
