@model GymPFF.Models.Clase

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Clase</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaEstablecido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaEstablecido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sala)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sala.SalaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Actividad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Actividad.ActividadId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Empleado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Empleado.EmpleadoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente.ClienteId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ClaseId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
